# Dépendances
/node_modules

# Fichiers de configuration
.env

# Fichiers de logs
logs
*.log
npm-debug.log*

# Fichiers de runtime
pids
*.pid
*.seed
*.log

# Répertoire de build
dist

# Fichiers de cache
.cache

# Autres fichiers
.DS_Store
*.swp
*.bak
*.tmp
*~
*.sublime*
.vscode
.idea
